*{
    box-sizing: border-box;
}

#personList{
    display: flex;
    flex-wrap:wrap;
}

#personList > div{
    width:150px;
    height: 150px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px 0px;
}

div .entry {
    margin: 0px;
}

img{
    margin: 0 auto;
    max-width: 50px;
}

.info{
    height: 200px;
    width: 200px;
    margin: 0px;
}

.entry:hover{
    display:none;
}

p{
    font-size: 18px;
}